body {
    font-family: 'Libre Baskerville', serif; /*font source*/
    font-size: 25px; /* font size */
    color: #fff; /* text color */
    margin: 100px; /* default margin*/
    padding: 0; /* default padding */
    background-color: #000500; /* background color */
    line-height: 1.6; /* line size */
}
/* ------------------loading-container--------------------------- */
#myName{
    font-style: italic;
    font-size: 20px;
}
#main-content{
    display: none;
}
.loader{
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader img {
    width: 500px;
}
/* ------------------loading-container--------------------------- */
#main-head{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    height: 115px;
    padding: 20px;
    margin: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #02a9f7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: #005187;
}

.images-profile{
    width: 1fr;
    height: 70px;
}

.title-head{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

main{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    background-color: #d0fdd7;
    border-radius: 10px;
    margin: 30px;
    padding: 5%;
    margin: 0px;
    margin-bottom: 10px;
    color: #005187;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 3);
}

aside{
    margin: 0px;
}
#img-profile{
    border-radius: 5px;
    width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}

article{
    margin: 0px;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

footer{
    background-color: #84b6f4;
    border-radius: 10px;
    margin: 0px;
    margin-bottom: 10px;
    padding: 5%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}